.ei {
    background: url(../images/bg-ei.jpg) no-repeat;
    background-size: cover;
    background-position: center top;
    margin-top: 20px;
    padding-top: 80px;

    .box-1 {
        p {
            font-family: 'GoodOT-CondNews';
            font-weight: normal;
            font-style: normal;
            font-size: 50px;
            line-height: 55px;
            color: #3a5646;
            text-transform: uppercase;

            span {
                font-family: 'GoodOT-CondBold';
                font-weight: bold;
                font-style: normal;
                position: relative;
                z-index: 100;

                &::after {
                    content: '';
                    width: 100%;
                    height: 25px;
                    position: absolute;
                    background-color: #f1e720;
                    bottom: 0px;
                    left: 0;
                    z-index: -10;
                }
            }
        }
    }

    .box-2 {
        margin-top: 50px;

        .txt-01 {
            font-family: 'GoodOT-CondNews';
            font-weight: normal;
            font-style: normal;
            text-transform: uppercase;
            font-size: 20px;
            line-height: 20px;
            color: #3a5646;
            position: relative;
            display: table;
            margin: 0 auto 6px;

            &::after {
                content: '';
                width: 110px;
                height: 1px;
                position: absolute;
                background-color: #f1e720;
                top: 8px;
                left: 50px;
            }

            &::before {
                content: '';
                width: 110px;
                height: 1px;
                position: absolute;
                background-color: #f1e720;
                top: 8px;
                right: 50px;
            }
        }

        .txt-02 {
            font-family: 'GoodOT-CondBold';
            font-weight: bold;
            font-style: normal;
            text-transform: uppercase;
            font-size: 30px;
            line-height: 30px;
            color: #3a5646;
        }

        .txt-03 {
            font-family: 'GoodOT-CondNews';
            font-weight: normal;
            font-style: normal;
            text-transform: uppercase;
            font-size: 25px;
            line-height: 25px;
            color: #3a5646;
            margin-top: 5px;
        }

        .txt-04 {
            font-family: '946 Latin Regular 4';
            font-weight: bold;
            font-style: normal;
            color: #3a5646;
            font-size: 40px;
            line-height: 17px;
            text-transform: uppercase;
            background-color: #f1e720;
            display: table;
            margin: 6px auto 8px;
            padding: 5px 5px;
        }

        .txt-05 {
            font-family: 'GoodOT-CondNews';
            font-weight: normal;
            font-style: normal;
            font-size: 15px;
            line-height: 15px;
            color: #3a5646;
            text-transform: uppercase;
            padding-bottom: 40px;
            padding-top: 40px;
        }

        .txt-06 {
            font-family: 'GoodOT-CondNews';
            font-weight: normal;
            font-style: normal;
            color: #3a5646;
            font-size: 14px;
            line-height: 14px;
        }
    }

    .box-3 {
        p {
            font-family: 'GoodOT-CondNews';
            font-weight: normal;
            font-style: normal;
            font-size: 40px;
            line-height: 40px;
            color: #3a5646;
            text-transform: uppercase;
            border-top: solid 1px #4cc2f1;
            border-bottom: solid 1px #4cc2f1;
            display: table;
            margin: 10px auto 0;
            padding: 20px 10px 15px;
        }
    }

    .box-4 {
        margin-top: 40px;

        p {
            font-family: 'GoodOT-CondNews';
            font-weight: normal;
            font-style: normal;
            font-size: 15px;
            line-height: 15px;
            color: #3a5646;
            text-transform: uppercase;
            padding-bottom: 40px;
            padding-top: 40px;
        }
    }
}

/* Extra Small */
@media(max-width:767px) {
    .ei {
        background: url(../images/bg-ei-mobile.jpg) no-repeat;
        background-size: cover;
        background-position: center top;
        margin-top: 20px;
        padding-top: 40px;

        .box-1 {
            p {
                font-size: 20px;
                line-height: 30px;

                span {
                    &::after {
                        height: 17px;
                        bottom: -3px;
                    }
                }
            }
        }

        .box-2 {
            margin-top: 30px;

            .txt-05 {
                font-size: 10px;
                line-height: 10px;
                padding-bottom: 20px;
                padding-top: 20px;
            }
        }

        .box-3 {
            img {
                max-width: 80%;
            }

            p {
                font-size: 30px;
                line-height: 30px;
            }
        }

        .box-4 {
            margin-top: 30px;

            img {
                max-width: 90%;
            }

            p {
                font-size: 10px;
                line-height: 10px;
                padding-bottom: 20px;
                padding-top: 20px;
            }
        }
    }
}

/* Small */
@media(min-width:768px) and (max-width:991px) {
    .ei {
        .box-1 {
            p {
                font-size: 45px;
                line-height: 45px;
            }
        }
    }
}

/* Medium */
@media(min-width:992px) and (max-width:1199px) {}

/* Large */
@media(min-width:1200px) {}