@font-face {
  font-family: 'Sporter';
  src: url("../fonts/SporterRegular.eot");
  src: url("../fonts/SporterRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/SporterRegular.woff2") format("woff2"), url("../fonts/SporterRegular.woff") format("woff"), url("../fonts/SporterRegular.ttf") format("truetype"), url("../fonts/SporterRegular.svg#SporterRegular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GoodOT-CondBold';
  src: url("../fonts/GoodOT-CondBold.eot");
  src: url("../fonts/GoodOT-CondBold.eot?#iefix") format("embedded-opentype"), url("../fonts/GoodOT-CondBold.woff2") format("woff2"), url("../fonts/GoodOT-CondBold.woff") format("woff"), url("../fonts/GoodOT-CondBold.ttf") format("truetype"), url("../fonts/GoodOT-CondBold.svg#GoodOT-CondBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GoodOT-CondNews';
  src: url("../fonts/GoodOT-CondNews.eot");
  src: url("../fonts/GoodOT-CondNews.eot?#iefix") format("embedded-opentype"), url("../fonts/GoodOT-CondNews.woff2") format("woff2"), url("../fonts/GoodOT-CondNews.woff") format("woff"), url("../fonts/GoodOT-CondNews.ttf") format("truetype"), url("../fonts/GoodOT-CondNews.svg#GoodOT-CondNews") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: '946 Latin Regular 4';
  src: url("../fonts/946Latin-Regular4.eot");
  src: url("../fonts/946Latin-Regular4.eot?#iefix") format("embedded-opentype"), url("../fonts/946Latin-Regular4.woff2") format("woff2"), url("../fonts/946Latin-Regular4.woff") format("woff"), url("../fonts/946Latin-Regular4.ttf") format("truetype"), url("../fonts/946Latin-Regular4.svg#946Latin-Regular4") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.margin-top {
  margin-top: 10px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-27 {
  margin-top: 27px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-54 {
  margin-top: 54px;
}

.margin-top-60 {
  margin-top: 60px;
}

.margin-top-65 {
  margin-top: 65px;
}

.margin-top-70 {
  margin-top: 70px;
}

.margin-top-80 {
  margin-top: 80px;
}

.margin-top-90 {
  margin-top: 90px;
}

.margin-top-99 {
  margin-top: 99px;
}

.margin-top-100 {
  margin-top: 100px;
}

.margin-top-110 {
  margin-top: 110px;
}

.margin-top-120 {
  margin-top: 120px;
}

.margin-top-140 {
  margin-top: 140px;
}

.margin-top-149 {
  margin-top: 149px;
}

.margin-top-150 {
  margin-top: 150px;
}

.margin-top-160 {
  margin-top: 160px;
}

.margin-top-200 {
  margin-top: 200px;
}

.margin-top-220 {
  margin-top: 220px;
}

.margin-top-230 {
  margin-top: 230px;
}

.margin-top-250 {
  margin-top: 250px;
}

.margin-top-330 {
  margin-top: 330px;
}

.margin-top-350 {
  margin-top: 350px;
}

.margin-top-380 {
  margin-top: 380px;
}

.margin-top-385 {
  margin-top: 385px;
}

.margin-top-390 {
  margin-top: 390px;
}

.margin-top-400 {
  margin-top: 400px;
}

body {
  background-color: #3a5646;
}

.padding-off {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

p {
  margin: 0;
}

.container-off-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.row-off-margin {
  margin-left: 0px;
  margin-right: 0px;
}

.aviso {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
}

.aviso div {
  display: table;
  margin: 10% auto 0;
  width: 40%;
  background-color: #051139;
  padding: 20px 10px;
  position: relative;
}

.aviso div .close {
  text-shadow: none;
  opacity: 1;
  position: absolute;
  right: 0;
  top: -30px;
  z-index: 999;
  color: #fff;
  font-size: 35px;
  line-height: 35px;
}

.aviso div p {
  font-family: 'Champions';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 1.667;
  color: #fff;
}

/* Extra Small */
@media (max-width: 767px) {
  .padding-off-mobile {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .aviso div {
    margin: 30% auto 0;
    width: 95%;
  }
}

.logo {
  margin-top: 30px;
}

.video {
  background: url(../images/bg-video.png) no-repeat;
  background-size: cover;
  background-position: center top;
  margin-top: 40px;
  padding-bottom: 80px;
}

.video .box-1 {
  margin-top: 130px;
}

.video .box-1 .txt-1 {
  font-family: 'GoodOT-CondBold';
  font-weight: bold;
  font-style: normal;
  font-size: 60px;
  line-height: 60px;
  color: #fff;
  text-transform: uppercase;
}

.video .box-1 .txt-2 {
  font-family: 'GoodOT-CondBold';
  font-weight: bold;
  font-style: normal;
  font-size: 60px;
  line-height: 60px;
  color: #3a5646;
  text-transform: uppercase;
  background-color: #00e396;
  display: table;
  padding: 6px 30px 2px;
  margin-left: -30px;
  margin-top: 5px;
}

.video .box-2 {
  margin-top: 240px;
}

.video .box-2 .txt-1 {
  font-family: 'GoodOT-CondNews';
  font-weight: normal;
  font-style: normal;
  font-size: 60px;
  line-height: 60px;
  color: #fff;
  text-transform: uppercase;
}

.video .box-2 .txt-1 strong {
  color: #f1e720;
}

.video .box-3 {
  margin-top: 50px;
}

.em2019 {
  background: url(../images/bg-2019.png) no-repeat;
  background-size: cover;
  background-position: center top;
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 20px;
}

.em2019 .txt-1 {
  font-family: '946 Latin Regular 4';
  font-weight: bold;
  font-style: normal;
  font-size: 50px;
  line-height: 50px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-left: -50px;
}

.em2019 .txt-2 {
  font-family: '946 Latin Regular 4';
  font-weight: bold;
  font-style: normal;
  font-size: 100px;
  line-height: 100px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-top: -20px;
}

.em2019 .txt-2::before {
  content: '';
  width: 100%;
  height: 10px;
  position: absolute;
  background-color: #4cc2f1;
  bottom: -10px;
  left: -184px;
}

.em2019 .txt-3 {
  font-family: 'GoodOT-CondBold';
  font-weight: bold;
  font-style: normal;
  font-size: 45px;
  line-height: 45px;
  color: #fff;
  text-transform: uppercase;
}

/* Extra Small */
@media (max-width: 767px) {
  .logo {
    margin-top: 15px;
    max-width: 70%;
  }
  .video {
    background: url(../images/bg-video-mobile.jpg) no-repeat;
    background-size: cover;
    background-position: center top;
    margin-top: 25px;
    padding-bottom: 30px;
  }
  .video .box-1 {
    margin-top: 40px;
  }
  .video .box-1 .txt-1 {
    font-size: 35px;
    line-height: 35px;
  }
  .video .box-1 .txt-2 {
    font-size: 30px;
    line-height: 30px;
    padding: 6px 4px 2px;
    margin-left: 0px;
    margin-top: 5px;
  }
  .video .box-2 {
    margin-top: 70px;
  }
  .video .box-2 .txt-1 {
    font-size: 35px;
    line-height: 35px;
  }
  .video .box-3 {
    margin-top: 30px;
  }
  .em2019 {
    background-color: transparent;
    padding-top: 25px;
  }
  .em2019 .txt-1 {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    margin-left: 0px;
  }
  .em2019 .txt-2 {
    font-size: 70px;
    line-height: 70px;
    text-align: center;
    margin-top: 0px;
  }
  .em2019 .txt-2::before {
    bottom: -10px;
    left: -105px;
  }
  .em2019 .txt-3 {
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    margin-top: 20px;
  }
}

/* Small */
/* Medium */
/* Large */
.info-2019 {
  background: url(../images/bg-info-2019.png) no-repeat;
  background-size: cover;
  background-position: center top;
  margin-top: 50px;
  padding-top: 70px;
}

.info-2019 .txt-01 {
  font-family: 'GoodOT-CondNews';
  font-weight: normal;
  font-style: normal;
  font-size: 55px;
  line-height: 65px;
  color: #3a5646;
  text-transform: uppercase;
}

.info-2019 .txt-01 span {
  font-family: 'GoodOT-CondBold';
  font-weight: bold;
  font-style: normal;
  position: relative;
  z-index: 100;
}

.info-2019 .txt-01 span::after {
  content: '';
  width: 100%;
  height: 25px;
  position: absolute;
  background-color: #f1e720;
  bottom: 0px;
  left: 0;
  z-index: -10;
}

.info-2019 .box-1 {
  border-top: solid 1px #f1e720;
  border-bottom: solid 1px #f1e720;
  display: table;
  margin: 30px auto 0;
  padding: 15px 30px 20px;
}

.info-2019 .box-1 .txt-02 {
  font-family: 'GoodOT-CondBold';
  font-weight: bold;
  font-style: normal;
  color: #3a5646;
  text-transform: uppercase;
  font-size: 35px;
  line-height: 35px;
  margin-bottom: 5px;
}

.info-2019 .box-1 .txt-03 {
  font-family: '946 Latin Regular 4';
  font-weight: bold;
  font-style: normal;
  font-size: 65px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: #f1e720;
  display: table;
  margin: 0 auto;
  padding: 5px 5px;
}

.info-2019 .txt-04 {
  font-family: 'GoodOT-CondNews';
  font-weight: normal;
  font-style: normal;
  font-size: 45px;
  line-height: 55px;
  color: #3a5646;
  text-transform: uppercase;
  margin-top: 40px;
}

.info-2019 .txt-04 span {
  font-family: 'GoodOT-CondBold';
  font-weight: bold;
  font-style: normal;
  position: relative;
  z-index: 100;
}

.info-2019 .txt-04 span::after {
  content: '';
  width: 100%;
  height: 25px;
  position: absolute;
  background-color: #f1e720;
  bottom: 0px;
  left: 0;
  z-index: -10;
}

.info-2019 .box-2 {
  border-top: solid 1px #f1e720;
  border-bottom: solid 1px #f1e720;
  display: table;
  width: 90%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 30px;
}

.info-2019 .box-2 .txt-02 {
  font-family: 'GoodOT-CondBold';
  font-weight: bold;
  font-style: normal;
  color: #3a5646;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
}

.info-2019 .box-2 .txt-03 {
  font-family: '946 Latin Regular 4';
  font-weight: bold;
  font-style: normal;
  font-size: 35px;
  line-height: 15px;
  text-transform: uppercase;
  background-color: #f1e720;
  display: table;
  margin: 0 auto;
  padding: 5px 5px;
}

.info-2019 .txt-05 {
  font-family: 'GoodOT-CondNews';
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  line-height: 15px;
  color: #3a5646;
  text-transform: uppercase;
  padding-bottom: 40px;
  padding-top: 40px;
}

.em2020 {
  background: url(../images/bg-2020.png) no-repeat;
  background-size: cover;
  background-position: center top;
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 20px;
}

.em2020 .txt-1 {
  font-family: '946 Latin Regular 4';
  font-weight: bold;
  font-style: normal;
  font-size: 50px;
  line-height: 50px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-left: -50px;
}

.em2020 .txt-2 {
  font-family: '946 Latin Regular 4';
  font-weight: bold;
  font-style: normal;
  font-size: 100px;
  line-height: 100px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-top: -20px;
}

.em2020 .txt-2::before {
  content: '';
  width: 100%;
  height: 10px;
  position: absolute;
  background-color: #f1e720;
  bottom: -10px;
  left: -184px;
}

.em2020 .txt-3 {
  font-family: 'GoodOT-CondBold';
  font-weight: bold;
  font-style: normal;
  font-size: 45px;
  line-height: 45px;
  color: #fff;
  text-transform: uppercase;
}

/* Extra Small */
@media (max-width: 767px) {
  .info-2019 {
    background: url(../images/bg-info-2019-mobile.jpg) no-repeat;
    background-size: cover;
    background-position: center top;
    margin-top: 30px;
    padding-top: 30px;
  }
  .info-2019 .txt-01 {
    font-size: 32px;
    line-height: 32px;
  }
  .info-2019 .box-1 {
    margin: 20px auto 0;
    padding: 15px 30px 20px;
  }
  .info-2019 .box-1 .txt-02 {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 5px;
  }
  .info-2019 .box-1 .txt-03 {
    font-size: 45px;
    line-height: 30px;
  }
  .info-2019 .txt-04 {
    font-size: 30px;
    line-height: 30px;
    margin-top: 20px;
  }
  .info-2019 .box-2 {
    display: table;
    width: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
  }
  .info-2019 .box-2 .txt-02 {
    font-size: 20px;
    line-height: 20px;
  }
  .info-2019 .box-2 .txt-03 {
    font-size: 35px;
    line-height: 28px;
    display: table;
    margin: 0 auto;
    padding: 5px 5px;
  }
  .info-2019 .txt-05 {
    font-size: 10px;
    line-height: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .em2020 {
    background-color: transparent;
    padding-top: 25px;
  }
  .em2020 .txt-1 {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    margin-left: 0px;
  }
  .em2020 .txt-2 {
    font-size: 70px;
    line-height: 70px;
    text-align: center;
    margin-top: 0px;
  }
  .em2020 .txt-2::before {
    bottom: -10px;
    left: -105px;
  }
  .em2020 .txt-3 {
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    margin-top: 20px;
  }
}

/* Small */
/* Medium */
/* Large */
/*# sourceMappingURL=style.css.map */