@font-face {
  font-family: 'Sporter';
  src: url("../fonts/SporterRegular.eot");
  src: url("../fonts/SporterRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/SporterRegular.woff2") format("woff2"), url("../fonts/SporterRegular.woff") format("woff"), url("../fonts/SporterRegular.ttf") format("truetype"), url("../fonts/SporterRegular.svg#SporterRegular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GoodOT-CondBold';
  src: url("../fonts/GoodOT-CondBold.eot");
  src: url("../fonts/GoodOT-CondBold.eot?#iefix") format("embedded-opentype"), url("../fonts/GoodOT-CondBold.woff2") format("woff2"), url("../fonts/GoodOT-CondBold.woff") format("woff"), url("../fonts/GoodOT-CondBold.ttf") format("truetype"), url("../fonts/GoodOT-CondBold.svg#GoodOT-CondBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GoodOT-CondNews';
  src: url("../fonts/GoodOT-CondNews.eot");
  src: url("../fonts/GoodOT-CondNews.eot?#iefix") format("embedded-opentype"), url("../fonts/GoodOT-CondNews.woff2") format("woff2"), url("../fonts/GoodOT-CondNews.woff") format("woff"), url("../fonts/GoodOT-CondNews.ttf") format("truetype"), url("../fonts/GoodOT-CondNews.svg#GoodOT-CondNews") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: '946 Latin Regular 4';
  src: url("../fonts/946Latin-Regular4.eot");
  src: url("../fonts/946Latin-Regular4.eot?#iefix") format("embedded-opentype"), url("../fonts/946Latin-Regular4.woff2") format("woff2"), url("../fonts/946Latin-Regular4.woff") format("woff"), url("../fonts/946Latin-Regular4.ttf") format("truetype"), url("../fonts/946Latin-Regular4.svg#946Latin-Regular4") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.margin-top {
  margin-top: 10px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-27 {
  margin-top: 27px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-54 {
  margin-top: 54px;
}

.margin-top-60 {
  margin-top: 60px;
}

.margin-top-65 {
  margin-top: 65px;
}

.margin-top-70 {
  margin-top: 70px;
}

.margin-top-80 {
  margin-top: 80px;
}

.margin-top-90 {
  margin-top: 90px;
}

.margin-top-99 {
  margin-top: 99px;
}

.margin-top-100 {
  margin-top: 100px;
}

.margin-top-110 {
  margin-top: 110px;
}

.margin-top-120 {
  margin-top: 120px;
}

.margin-top-140 {
  margin-top: 140px;
}

.margin-top-149 {
  margin-top: 149px;
}

.margin-top-150 {
  margin-top: 150px;
}

.margin-top-160 {
  margin-top: 160px;
}

.margin-top-200 {
  margin-top: 200px;
}

.margin-top-220 {
  margin-top: 220px;
}

.margin-top-230 {
  margin-top: 230px;
}

.margin-top-250 {
  margin-top: 250px;
}

.margin-top-330 {
  margin-top: 330px;
}

.margin-top-350 {
  margin-top: 350px;
}

.margin-top-380 {
  margin-top: 380px;
}

.margin-top-385 {
  margin-top: 385px;
}

.margin-top-390 {
  margin-top: 390px;
}

.margin-top-400 {
  margin-top: 400px;
}

body {
  background-color: #3a5646;
}

.padding-off {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

p {
  margin: 0;
}

.container-off-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.row-off-margin {
  margin-left: 0px;
  margin-right: 0px;
}

.aviso {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
}

.aviso div {
  display: table;
  margin: 10% auto 0;
  width: 40%;
  background-color: #00e396;
  padding: 20px 10px;
  position: relative;
}

.aviso div .close {
  text-shadow: none;
  opacity: 1;
  position: absolute;
  right: 0;
  top: -30px;
  z-index: 999;
  color: #fff;
  font-size: 35px;
  line-height: 35px;
}

.aviso div p {
  font-family: 'GoodOT-CondBold';
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  line-height: 1.667;
  color: #3a5646;
  text-transform: uppercase;
}

/* Extra Small */
@media (max-width: 767px) {
  .padding-off-mobile {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .aviso div {
    margin: 30% auto 0;
    width: 95%;
  }
}

.logo {
  margin-top: 30px;
}

.video {
  background: url(../images/bg-video.png) no-repeat;
  background-size: cover;
  background-position: center top;
  margin-top: 40px;
  padding-bottom: 80px;
}

.video .box-1 {
  margin-top: 130px;
}

.video .box-1 .txt-1 {
  font-family: 'GoodOT-CondBold';
  font-weight: bold;
  font-style: normal;
  font-size: 60px;
  line-height: 60px;
  color: #fff;
  text-transform: uppercase;
}

.video .box-1 .txt-2 {
  font-family: 'GoodOT-CondBold';
  font-weight: bold;
  font-style: normal;
  font-size: 60px;
  line-height: 60px;
  color: #3a5646;
  text-transform: uppercase;
  background-color: #00e396;
  display: table;
  padding: 6px 30px 2px;
  margin-left: -30px;
  margin-top: 5px;
}

.video .box-2 {
  margin-top: 240px;
}

.video .box-2 .txt-1 {
  font-family: 'GoodOT-CondNews';
  font-weight: normal;
  font-style: normal;
  font-size: 60px;
  line-height: 60px;
  color: #fff;
  text-transform: uppercase;
}

.video .box-2 .txt-1 strong {
  color: #f1e720;
}

.video .box-3 {
  margin-top: 50px;
}

.em2019 {
  background: url(../images/bg-2019.png) no-repeat;
  background-size: cover;
  background-position: center top;
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 20px;
}

.em2019 .txt-1 {
  font-family: '946 Latin Regular 4';
  font-weight: bold;
  font-style: normal;
  font-size: 50px;
  line-height: 50px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-left: -50px;
}

.em2019 .txt-2 {
  font-family: '946 Latin Regular 4';
  font-weight: bold;
  font-style: normal;
  font-size: 100px;
  line-height: 100px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-top: -20px;
}

.em2019 .txt-2::before {
  content: '';
  width: 100%;
  height: 10px;
  position: absolute;
  background-color: #4cc2f1;
  bottom: -10px;
  left: -184px;
}

.em2019 .txt-3 {
  font-family: 'GoodOT-CondBold';
  font-weight: bold;
  font-style: normal;
  font-size: 45px;
  line-height: 45px;
  color: #fff;
  text-transform: uppercase;
}

/* Extra Small */
@media (max-width: 767px) {
  .logo {
    margin-top: 15px;
    max-width: 70%;
  }
  .video {
    background: url(../images/bg-video-mobile.jpg) no-repeat;
    background-size: cover;
    background-position: center top;
    margin-top: 25px;
    padding-bottom: 30px;
  }
  .video .box-1 {
    margin-top: 40px;
  }
  .video .box-1 .txt-1 {
    font-size: 35px;
    line-height: 35px;
  }
  .video .box-1 .txt-2 {
    font-size: 30px;
    line-height: 30px;
    padding: 6px 4px 2px;
    margin-left: 0px;
    margin-top: 5px;
  }
  .video .box-2 {
    margin-top: 70px;
  }
  .video .box-2 .txt-1 {
    font-size: 35px;
    line-height: 35px;
  }
  .video .box-3 {
    margin-top: 30px;
  }
  .em2019 {
    background-color: transparent;
    padding-top: 25px;
  }
  .em2019 .txt-1 {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    margin-left: 0px;
  }
  .em2019 .txt-2 {
    font-size: 70px;
    line-height: 70px;
    text-align: center;
    margin-top: 0px;
  }
  .em2019 .txt-2::before {
    bottom: -10px;
    left: -105px;
  }
  .em2019 .txt-3 {
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    margin-top: 20px;
  }
}

/* Small */
/* Medium */
/* Large */
.info-2019 {
  background: url(../images/bg-info-2019.png) no-repeat;
  background-size: cover;
  background-position: center top;
  margin-top: 50px;
  padding-top: 70px;
}

.info-2019 .txt-01 {
  font-family: 'GoodOT-CondNews';
  font-weight: normal;
  font-style: normal;
  font-size: 55px;
  line-height: 65px;
  color: #3a5646;
  text-transform: uppercase;
}

.info-2019 .txt-01 span {
  font-family: 'GoodOT-CondBold';
  font-weight: bold;
  font-style: normal;
  position: relative;
  z-index: 100;
}

.info-2019 .txt-01 span::after {
  content: '';
  width: 100%;
  height: 25px;
  position: absolute;
  background-color: #f1e720;
  bottom: 0px;
  left: 0;
  z-index: -10;
}

.info-2019 .box-1 {
  border-top: solid 1px #f1e720;
  border-bottom: solid 1px #f1e720;
  display: table;
  margin: 30px auto 0;
  padding: 15px 30px 20px;
}

.info-2019 .box-1 .txt-02 {
  font-family: 'GoodOT-CondBold';
  font-weight: bold;
  font-style: normal;
  color: #3a5646;
  text-transform: uppercase;
  font-size: 35px;
  line-height: 35px;
  margin-bottom: 5px;
}

.info-2019 .box-1 .txt-03 {
  font-family: '946 Latin Regular 4';
  font-weight: bold;
  font-style: normal;
  color: #3a5646;
  font-size: 65px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: #f1e720;
  display: table;
  margin: 0 auto;
  padding: 5px 5px;
}

.info-2019 .txt-04 {
  font-family: 'GoodOT-CondNews';
  font-weight: normal;
  font-style: normal;
  font-size: 45px;
  line-height: 55px;
  color: #3a5646;
  text-transform: uppercase;
  margin-top: 40px;
}

.info-2019 .txt-04 span {
  font-family: 'GoodOT-CondBold';
  font-weight: bold;
  font-style: normal;
  position: relative;
  z-index: 100;
}

.info-2019 .txt-04 span::after {
  content: '';
  width: 100%;
  height: 25px;
  position: absolute;
  background-color: #f1e720;
  bottom: 0px;
  left: 0;
  z-index: -10;
}

.info-2019 .box-2 {
  border-top: solid 1px #f1e720;
  border-bottom: solid 1px #f1e720;
  display: table;
  width: 90%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 30px;
}

.info-2019 .box-2 .txt-02 {
  font-family: 'GoodOT-CondBold';
  font-weight: bold;
  font-style: normal;
  color: #3a5646;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
}

.info-2019 .box-2 .txt-03 {
  font-family: '946 Latin Regular 4';
  font-weight: bold;
  font-style: normal;
  color: #3a5646;
  font-size: 35px;
  line-height: 15px;
  text-transform: uppercase;
  background-color: #f1e720;
  display: table;
  margin: 0 auto;
  padding: 5px 5px;
}

.info-2019 .txt-05 {
  font-family: 'GoodOT-CondNews';
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  line-height: 15px;
  color: #3a5646;
  text-transform: uppercase;
  padding-bottom: 40px;
  padding-top: 40px;
}

.em2020 {
  background: url(../images/bg-2020.png) no-repeat;
  background-size: cover;
  background-position: center top;
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 20px;
}

.em2020 .txt-1 {
  font-family: '946 Latin Regular 4';
  font-weight: bold;
  font-style: normal;
  font-size: 50px;
  line-height: 50px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-left: -50px;
}

.em2020 .txt-2 {
  font-family: '946 Latin Regular 4';
  font-weight: bold;
  font-style: normal;
  font-size: 100px;
  line-height: 100px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-top: -20px;
}

.em2020 .txt-2::before {
  content: '';
  width: 100%;
  height: 10px;
  position: absolute;
  background-color: #f1e720;
  bottom: -10px;
  left: -184px;
}

.em2020 .txt-3 {
  font-family: 'GoodOT-CondBold';
  font-weight: bold;
  font-style: normal;
  font-size: 45px;
  line-height: 45px;
  color: #fff;
  text-transform: uppercase;
}

/* Extra Small */
@media (max-width: 767px) {
  .info-2019 {
    background: url(../images/bg-info-2019-mobile.jpg) no-repeat;
    background-size: cover;
    background-position: center top;
    margin-top: 30px;
    padding-top: 30px;
  }
  .info-2019 .txt-01 {
    font-size: 32px;
    line-height: 32px;
  }
  .info-2019 .box-1 {
    margin: 20px auto 0;
    padding: 15px 30px 20px;
  }
  .info-2019 .box-1 .txt-02 {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 5px;
  }
  .info-2019 .box-1 .txt-03 {
    font-size: 45px;
    line-height: 30px;
  }
  .info-2019 .txt-04 {
    font-size: 30px;
    line-height: 30px;
    margin-top: 20px;
  }
  .info-2019 .box-2 {
    display: table;
    width: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
  }
  .info-2019 .box-2 .txt-02 {
    font-size: 20px;
    line-height: 20px;
  }
  .info-2019 .box-2 .txt-03 {
    font-size: 35px;
    line-height: 28px;
    display: table;
    margin: 0 auto;
    padding: 5px 5px;
  }
  .info-2019 .txt-05 {
    font-size: 10px;
    line-height: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .em2020 {
    background-color: transparent;
    padding-top: 25px;
  }
  .em2020 .txt-1 {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    margin-left: 0px;
  }
  .em2020 .txt-2 {
    font-size: 70px;
    line-height: 70px;
    text-align: center;
    margin-top: 0px;
  }
  .em2020 .txt-2::before {
    bottom: -10px;
    left: -105px;
  }
  .em2020 .txt-3 {
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    margin-top: 20px;
  }
}

/* Small */
/* Medium */
/* Large */
.ei {
  background: url(../images/bg-ei.jpg) no-repeat;
  background-size: cover;
  background-position: center top;
  margin-top: 20px;
  padding-top: 80px;
}

.ei .box-1 p {
  font-family: 'GoodOT-CondNews';
  font-weight: normal;
  font-style: normal;
  font-size: 55px;
  line-height: 65px;
  color: #3a5646;
  text-transform: uppercase;
}

.ei .box-1 p span {
  font-family: 'GoodOT-CondBold';
  font-weight: bold;
  font-style: normal;
  position: relative;
  z-index: 100;
}

.ei .box-1 p span::after {
  content: '';
  width: 100%;
  height: 25px;
  position: absolute;
  background-color: #f1e720;
  bottom: 0px;
  left: 0;
  z-index: -10;
}

.ei .box-2 {
  margin-top: 50px;
}

.ei .box-2 .txt-01 {
  font-family: 'GoodOT-CondNews';
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  color: #3a5646;
  position: relative;
  display: table;
  margin: 0 auto;
}

.ei .box-2 .txt-01::after {
  content: '';
  width: 110px;
  height: 1px;
  position: absolute;
  background-color: #f1e720;
  top: 8px;
  left: 50px;
}

.ei .box-2 .txt-01::before {
  content: '';
  width: 110px;
  height: 1px;
  position: absolute;
  background-color: #f1e720;
  top: 8px;
  right: 50px;
}

.ei .box-2 .txt-02 {
  font-family: 'GoodOT-CondBold';
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  color: #3a5646;
}

.ei .box-2 .txt-03 {
  font-family: 'GoodOT-CondNews';
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 25px;
  color: #3a5646;
}

.ei .box-2 .txt-04 {
  font-family: '946 Latin Regular 4';
  font-weight: bold;
  font-style: normal;
  color: #3a5646;
  font-size: 40px;
  line-height: 17px;
  text-transform: uppercase;
  background-color: #f1e720;
  display: table;
  margin: 3px auto 0;
  padding: 5px 5px;
}

.ei .box-2 .txt-05 {
  font-family: 'GoodOT-CondNews';
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  line-height: 15px;
  color: #3a5646;
  text-transform: uppercase;
  padding-bottom: 40px;
  padding-top: 40px;
}

.ei .box-3 p {
  font-family: 'GoodOT-CondNews';
  font-weight: normal;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  color: #3a5646;
  text-transform: uppercase;
  border-top: solid 1px #4cc2f1;
  border-bottom: solid 1px #4cc2f1;
  display: table;
  margin: 10px auto 0;
  padding: 20px 10px 15px;
}

.ei .box-4 {
  margin-top: 40px;
}

.ei .box-4 p {
  font-family: 'GoodOT-CondNews';
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  line-height: 15px;
  color: #3a5646;
  text-transform: uppercase;
  padding-bottom: 40px;
  padding-top: 40px;
}

/* Extra Small */
@media (max-width: 767px) {
  .ei {
    background: url(../images/bg-ei-mobile.jpg) no-repeat;
    background-size: cover;
    background-position: center top;
    margin-top: 20px;
    padding-top: 40px;
  }
  .ei .box-1 p {
    font-size: 20px;
    line-height: 20px;
  }
  .ei .box-1 p span::after {
    height: 17px;
    bottom: -3px;
  }
  .ei .box-2 {
    margin-top: 30px;
  }
  .ei .box-2 .txt-05 {
    font-size: 10px;
    line-height: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .ei .box-3 img {
    max-width: 80%;
  }
  .ei .box-3 p {
    font-size: 30px;
    line-height: 30px;
  }
  .ei .box-4 {
    margin-top: 30px;
  }
  .ei .box-4 img {
    max-width: 90%;
  }
  .ei .box-4 p {
    font-size: 10px;
    line-height: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}

/* Small */
@media (min-width: 768px) and (max-width: 991px) {
  .ei .box-1 p {
    font-size: 45px;
    line-height: 45px;
  }
}

/* Medium */
/* Large */
.jogos {
  background: url(../images/bg-jogos.jpg) no-repeat;
  background-size: cover;
  background-position: center top;
  margin-top: 20px;
  padding-bottom: 50px;
}

.jogos .box-1 .txt-01 {
  font-family: 'GoodOT-CondNews';
  font-weight: normal;
  font-style: normal;
  font-size: 55px;
  line-height: 55px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 125px;
  margin-left: 180px;
  position: relative;
}

.jogos .box-1 .txt-01::after {
  content: '';
  width: 440px;
  height: 10px;
  position: absolute;
  background-color: #00e396;
  top: -15px;
  right: 63px;
}

.jogos .box-1 .txt-02 {
  font-family: 'GoodOT-CondBold';
  font-weight: bold;
  font-style: normal;
  font-size: 65px;
  line-height: 65px;
  color: #3a5646;
  background-color: #00e396;
  display: table;
  margin-top: 10px;
  padding: 10px 20px 5px 70px;
}

.jogos .box-2 .txt-01 {
  font-family: '946 Latin Regular 4';
  font-weight: bold;
  font-style: normal;
  font-size: 65px;
  line-height: 65px;
  text-transform: uppercase;
  color: #00e396;
  text-align: center;
  display: table;
  margin: 65px auto 0;
  position: relative;
}

.jogos .box-2 .txt-01::after {
  content: '';
  width: 100%;
  height: 10px;
  position: absolute;
  background-color: #00e396;
  bottom: -15px;
  left: 0;
}

.jogos .box-2 .txt-01 span {
  font-size: 120px;
}

.jogos .box-2 .txt-02 {
  font-family: 'GoodOT-CondNews';
  font-weight: normal;
  font-style: normal;
  font-size: 35px;
  line-height: 35px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 150px;
}

.jogos .box-3 {
  margin-top: 50px;
}

.jogos .box-3 .linha {
  border-right: solid 2px #00e396;
}

.jogos .box-3 p {
  font-family: 'GoodOT-CondNews';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  right: 0;
  bottom: 0;
}

/* Extra Small */
@media (max-width: 767px) {
  .jogos {
    background: url(../images/bg-jogos-mobile.jpg) no-repeat;
    background-size: cover;
    background-position: center top;
    margin-top: 20px;
    padding-bottom: 20px;
  }
  .jogos .box-1 .txt-01 {
    font-size: 30px;
    line-height: 30px;
    margin-top: 30px;
    margin-left: 0px;
    text-align: center;
  }
  .jogos .box-1 .txt-01::after {
    display: none;
  }
  .jogos .box-1 .txt-02 {
    font-size: 30px;
    line-height: 30px;
    margin: 10px auto 0;
    padding: 10px 20px 5px;
  }
  .jogos .box-2 .txt-01 {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    margin: 35px auto 0;
  }
  .jogos .box-2 .txt-01 span {
    font-size: 90px;
  }
  .jogos .box-2 .txt-02 {
    font-size: 25px;
    line-height: 25px;
    margin-top: 30px;
    text-align: center;
  }
  .jogos .box-3 {
    margin-top: 10px;
  }
  .jogos .box-3 img {
    max-width: 70%;
  }
  .jogos .box-3 .linha {
    border-right: solid 0px transparent;
  }
  .jogos .box-3 p {
    font-size: 10px;
    line-height: 10px;
    position: relative;
    text-align: center;
    margin-top: 20px;
    float: left;
    width: 100%;
  }
}

/* Small */
@media (min-width: 768px) and (max-width: 991px) {
  .jogos {
    margin-top: 20px;
    padding-bottom: 50px;
  }
  .jogos .box-1 .txt-01 {
    font-size: 40px;
    line-height: 40px;
    margin-top: 70px;
    margin-left: 0px;
    text-align: center;
  }
  .jogos .box-1 .txt-01::after {
    content: '';
    width: 240px;
    right: 35px;
  }
  .jogos .box-1 .txt-02 {
    margin: 10px auto 0;
    padding: 10px 20px 5px;
  }
  .jogos .box-2 .txt-01 {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    margin: 35px auto 0;
  }
  .jogos .box-2 .txt-01 span {
    font-size: 90px;
  }
  .jogos .box-2 .txt-02 {
    font-size: 30px;
    line-height: 30px;
    margin-top: 50px;
  }
}

/* Medium */
/* Large */
.info {
  background: url(../images/bg-info-2.jpg) no-repeat;
  background-size: cover;
  background-position: center top;
  margin-top: 20px;
  padding-top: 100px;
  padding-bottom: 40px;
}

.info .img-01 {
  margin-top: -50px;
}

.info .img-03 {
  margin-top: -50px;
  margin-left: -15px;
}

.info .img-04 {
  margin-top: 40px;
}

/* Extra Small */
@media (max-width: 767px) {
  .info {
    background: url(../images/bg-info-2-mobile.jpg) no-repeat;
    background-size: cover;
    background-position: center top;
    margin-top: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .info .img-01 {
    margin-top: -20px;
  }
  .info .img-03 {
    margin-top: 20px;
    margin-left: 0px;
  }
  .info .img-04 {
    margin-top: 40px;
  }
  .info .img-05 {
    margin-top: 20px;
  }
}

/* Small */
/* Medium */
/* Large */
.br-2020 {
  background: url(../images/bg-br-2020.jpg) no-repeat;
  background-size: cover;
  background-position: center top;
  margin-top: 20px;
  padding-bottom: 40px;
}

.br-2020 .tt {
  background: url(../images/bg-tt-br.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 30px;
  padding-top: 40px;
}

.br-2020 .tt .txt-01 {
  font-family: 'GoodOT-CondBold';
  font-weight: bold;
  font-style: normal;
  font-size: 55px;
  line-height: 55px;
  color: #3a5646;
  text-transform: uppercase;
}

.br-2020 .tt .txt-02 {
  font-family: 'GoodOT-CondNews';
  font-weight: normal;
  font-style: normal;
  font-size: 55px;
  line-height: 55px;
  color: #3a5646;
  text-transform: uppercase;
}

.br-2020 .info-br {
  margin-top: 100px;
}

/* Extra Small */
@media (max-width: 767px) {
  .br-2020 {
    background: url(../images/bg-br-2020-mobile.jpg) no-repeat;
    background-size: cover;
    background-position: center top;
    margin-top: 20px;
    padding-bottom: 20px;
  }
  .br-2020 .tt {
    background: url(../images/bg-tt-br-mobile.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 30px;
    padding-top: 40px;
  }
  .br-2020 .tt .txt-01 {
    font-size: 30px;
    line-height: 30px;
  }
  .br-2020 .tt .txt-02 {
    font-size: 30px;
    line-height: 30px;
  }
  .br-2020 .info-br {
    margin-top: 50px;
  }
}

/* Small */
/* Medium */
/* Large */
.contato {
  padding-bottom: 40px;
}

.contato .txt-01 {
  font-family: 'GoodOT-CondBold';
  font-weight: bold;
  font-style: normal;
  font-size: 35px;
  line-height: 35px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 100px;
}

.contato .txt-02 {
  font-family: 'GoodOT-CondNews';
  font-weight: normal;
  font-style: normal;
  font-size: 35px;
  line-height: 35px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 60px;
  margin-top: 10px;
}

.contato .mail-to {
  margin-bottom: 10px;
}

.contato .mail-to a {
  font-family: 'GoodOT-CondBold';
  font-weight: bold;
  font-style: normal;
  color: #fff;
  font-size: 24px;
  line-height: 24px;
}

.contato .form-group {
  padding: 0 1px 2px 1px;
  margin-bottom: 0;
}

.contato .form-control {
  font-family: 'GoodOT-CondBold';
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  height: 70px;
  padding: 6px 12px;
  font-size: 18px;
  line-height: 18px;
  color: #3a5646;
  background-color: #f1e720;
  border: 0px solid transparent;
  border-radius: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contato .form-control::-webkit-input-placeholder {
  color: #3a5646;
}

.contato .form-control:-ms-input-placeholder {
  color: #3a5646;
}

.contato .form-control::-ms-input-placeholder {
  color: #3a5646;
}

.contato .form-control::placeholder {
  color: #3a5646;
}

.contato textarea {
  height: 170px !important;
}

.contato .btn_enviar {
  font-family: 'GoodOT-CondBold';
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  border: 0px solid transparent;
  border-radius: 0px;
  width: 150px;
  height: 50px;
  font-size: 22px;
  line-height: 22px;
  padding-top: 10px;
  float: right;
  background: #4cc2f1;
  color: #3a5646;
}

.contato .logo-footer {
  margin-top: 70px;
}

.redes {
  margin-top: 20px;
  margin-bottom: 20px;
}

.redes p {
  font-family: 'GoodOT-CondBold';
  font-weight: bold;
  font-style: normal;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 15px;
}

.redes div {
  display: table;
  margin: 0 auto;
}

.redes div figure {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.redes div figure a {
  display: block;
}

.redes div figure figcaption {
  font-family: 'GoodOT-CondNews';
  font-weight: normal;
  font-style: normal;
  color: #fff;
}

footer {
  padding-bottom: 20px;
  padding-top: 20px;
}

footer p {
  font-family: 'GoodOT-CondNews';
  font-weight: normal;
  font-style: normal;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
}

footer .navbar-nav {
  padding-bottom: 14px;
}

footer .navbar-nav li {
  padding-top: 7px;
  padding-bottom: 7px;
}

footer .navbar-nav li > a {
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: 'GoodOT-CondBold';
  font-weight: bold;
  font-style: normal;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  border-right: 1px solid white;
}

footer .navbar-nav li > a:focus,
footer .navbar-nav li > a:hover {
  text-decoration: underline;
  background-color: transparent;
}

footer .navbar-nav li:last-child a {
  border-right: 0px solid transparent;
}

.cookies {
  background-color: #f1e720;
  padding-top: 27px;
  padding-bottom: 20px;
  margin-top: 70px;
  display: none;
}

.cookies p {
  font-family: 'GoodOT-CondNews';
  font-weight: normal;
  font-style: normal;
  color: #3a5646;
  font-size: 15px;
  line-height: 19px;
}

.cookies .btn_cookie {
  font-family: 'GoodOT-CondBold';
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  color: #3a5646;
  border: 0px solid transparent;
  border-radius: 50px;
  padding: 14px 30px 12px;
  width: 160px;
  background: #4cc2f1;
  text-transform: uppercase;
}

/* Extra Small */
@media (max-width: 767px) {
  .contato {
    padding-bottom: 20px;
  }
  .contato .txt-01 {
    font-size: 25px;
    line-height: 25px;
    margin-top: 20px;
  }
  .contato .txt-02 {
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .contato .logo-footer {
    margin-top: 40px;
  }
  .cookies {
    padding-top: 17px;
  }
  .cookies .btn_cookie {
    margin-top: 20px;
  }
  footer .navbar-nav li > a {
    border-right: 0px solid transparent;
  }
}

/* Small */
/* Medium */
/* Large */
.politica {
  background-color: #fff;
  padding-bottom: 50px;
}

.politica .politica-tt {
  background-color: #3a5646;
  padding-top: 20px;
  padding-bottom: 20px;
}

.politica .politica-tt h3 {
  font-family: 'GoodOT-CondBold';
  font-weight: bold;
  font-style: normal;
  color: #f1e720;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 40px;
  margin: 0;
  padding: 0;
}

.politica .politica-info {
  margin-top: 30px;
}

.politica .politica-info p {
  font-family: 'GoodOT-CondNews';
  font-weight: normal;
  font-style: normal;
  color: #000;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 15px;
}

.politica .politica-info p a {
  color: #EC2c27;
  text-decoration: underline;
}

/* Extra Small */
/* Small */
/* Medium */
/* Large */
/*# sourceMappingURL=style.css.map */